{% extends 'base.html.twig' %}

{% block stylesheets %} {% endblock %}


{% block body %}


<div class="container">
    
  <div class="row">
      {% for tab in tabs %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
        <img src="http://placehold.it/60x60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tab}} {{loop.index0}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
      </div>
      {% endfor %}
      </div>
      </div>



 {% endblock %}